*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(to right, black, violet , blue);
}
.whole {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }


.container {
    align-items: center;
    margin: 20px auto;
    padding: 25px;
    max-width: 250px;
    min-width: 400px;
    display:flex;
    justify-content: row;
    align-items: center;
    gap:1rem;
}

.container-paragraf{
    color:salmon;
}
.value{
    color:#fff;
}

.title{
    display: flex;
    justify-content: flex-start;
}